body {
	font-family: 'Orbitron', sans-serif;
}
#title {
	font-size: 2.6em;
	text-align: center;
}
#tv {
	max-width: 26em;
	display: block;
	margin: 0 auto;
	margin-top: 3em;
}

#tv-box {
	width: 500px;
	margin: 0 auto;
	font-size: 1.2em;
	font-weight: 900;
	padding: 5em;
	height: 292px;
	background-image: url('../img/tv.gif');
	background-repeat: no-repeat;
	display: block;
}

#tv-box>p {
	padding-right: 7em;
}

.question {
	text-align: justify;
	
}
.choice {
	list-style: none;
}