body {
	font-family: 'Orbitron', sans-serif;
}

#start {
	margin: 1em;
	cursor: pointer;
}

#title {
	font-size: 2.6em;
	text-align: center;
}
#tv {
	max-width: 26em;
	display: block;
	margin: 0 auto;
	margin-top: 3em;
}

#tv-box {
	position: relative;
	width: 484px;
	margin: 0 auto;
	font-size: 1.2em;
	font-weight: 900;
	padding: 5em;
	height: 292px;
	background-image: url('../img/tv.gif');
	background-repeat: no-repeat;
	display: block;
}

#tv-box>p {
	padding-right: 7em;
}

.choiceContainer {
	position: relative;
}

.hudContainer {
	position: relative;
}

.lifeContainer {
	position: relative;
}

.choicebox {
	position: absolute;
    left: 13.3em;
    top: 13.3em;
}

#hud {
	position: absolute;
    left: 3.6em;
    top: 15.5em;
    font-size: 1.2rem;
}

.lifebox {
    position: absolute;
    top: 19.2em;
    left: 13.7em;
}

.life {
	width: 20px;
}

.question {
	text-align: justify;
}

.answers {
	margin-bottom: 0;
}

.sub {

	margin-left: 6.7em;
	margin-top: 0.4em;
	font-family: 'Orbitron', sans-serif;
	font-weight: bold;
}

.choice {
	list-style: none;
}

#levelup {
	text-align: center;
    margin-top: 3em;
    cursor: pointer;
}

#gameover {
	text-align: center;
    margin-top: 3em;
}

.exp {
	cursor: pointer;
}

.retry {
	text-align: center;
	cursor: pointer;
}

#results {
	text-align: center;
    margin-top: 3em;
}